<input type="text" class="form-control @(string.IsNullOrWhiteSpace(Model.ErrorMessage) ? "" : "is-invalid")" placeholder="Value" @bind="Model.Value" @bind:event="oninput" @onchange="OnChangeCallback">
@if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
{
    <div class="invalid-feedback">
        @Model.ErrorMessage
    </div>
}

@code {
    [Parameter]
    public ValueErrorModel Model { get; set; }

    [Parameter]
    public EventCallback<ChangeEventArgs> OnChangeCallback { get; set; }
}