@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('fonts/fonts.css');

html, body {
    font-family: 'Roboto', sans-serif;
}

    body.standalone-mode {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

@media (min-width: 48em) {
    html {
        font-size: 18px;
    }
}

/* Site header
-----------------------------------------------------------*/
.standalone-mode header {
    display: none;
}

#siteHeader {
    margin-bottom: 3rem;
    font-size: 18px;
}

    #siteHeader .MainLink img {
        height: 42px;
        width: auto;
    }

.MenuElement {
    padding: 0.5rem;
}

/* Page
-----------------------------------------------------------*/

.page {
    margin-bottom: 2rem;
}

.standalone-mode .page {
    margin-bottom: 0;
    flex: 1 1 auto;
    display: flex;
}

/* Page footer
---------------------------------------------------------*/

.PageFooter {
    padding: 2.5rem 0;
    color: #999;
    background-color: #f9f9f9;
    text-align: center;
    border-top: .05rem solid #e5e5e5;
    border-bottom: .05rem solid #e5e5e5;
    flex: 0 1 165px;
}

app {
    display: flex;
}

@media (max-width: 48em) {
    app {
        flex-direction: column;
        flex: auto;
    }
}

.sidebar {
    background-image: linear-gradient(180deg, #343a40, #555);
}

    .sidebar .navbar-brand {
        font-size: 1.1rem;
        color: rgba(255,255,255,.5)
    }

        .sidebar .navbar-brand img {
            height: 42px;
            width: auto;
        }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: rgba(255,255,255,.5);
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        position: sticky;
        top: 0;
        width: 370px;
    }

    main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
