
<div class="InfoBarComponent">
    <div class="alert alert-info">
        <span class="oi oi-in-circle oi-info" aria-hidden="true"></span>
        <span class="text">@ChildContent</span>
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
