<input type="text" 
       inputmode="decimal" 
       class="form-control @(string.IsNullOrWhiteSpace(Model.ErrorMessage) ? "" : "is-invalid")" 
       placeholder="@Placeholder" 
       @bind="Model.Value" 
       @bind:event="oninput" 
       @onchange="OnChangeCallback" 
       @onkeyup="OnKeyUpCallback">

@if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
{
    <div class="invalid-feedback">
        @Model.ErrorMessage
    </div>
}

@code {
    [Parameter]
    public ValueErrorModel Model { get; set; }

    [Parameter]
    public string Placeholder { get; set; } = "Value";

    [Parameter]
    public EventCallback<ChangeEventArgs> OnChangeCallback { get; set; }

    [Parameter]
    public EventCallback OnKeyUpCallback { get; set; }
}