<div class="top-row pl-4 navbar navbar-dark navbar-expand-lg">
    <a class="navbar-brand" href=""> 
        <img src="icon-512.png" alt=">R" />
        <span class="pl-2">Numerical Calculator</span>
    </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-calculator" aria-hidden="true"></span> Calculator
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="proportions">
                <span class="oi oi-question-mark" aria-hidden="true"></span> Proportions
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="mean">
                <span class="oi oi-crop" aria-hidden="true"></span> Mean
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="linearequations">
                <span class="oi oi-grid-four-up" aria-hidden="true"></span> Linear equations
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="interpolationapproximation">
                <span class="oi oi-graph" aria-hidden="true"></span> Interpolation and approximation
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
