@page "/linearequations"

@using NumericalCalculatorPwa.Extensions;

<h1>Linear equations</h1>

<GeneralError ErrorMessage="@generalErrorMessage"></GeneralError>

<div class="LinearEquationsPage mt-4" @onkeypress="HandlePageKeyPress">
    <div class="form-group">
        <label>Variables count:</label>
        <InputWithValidation Model="variablesCount" OnChangeCallback="Validate" Type="number" OnKeyUpCallback="ManageRowsCount" Autofocus="true"></InputWithValidation>
    </div>
    <table>
        <thead>
            <tr>
                @for (int i = 0; i < valueInputRows.Count; i++)
                {
                    <th scope="col">x@(i)</th>
                }
                <th></th>
                <th>r</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < valueInputRows.Count; i++)
            {
                <tr>
                    @for (int j = 0; j < valueInputRows.Count; j++)
                    {
                        <td>
                            <InputWithValidation Model="valueInputRows[i][j]" OnChangeCallback="Validate"></InputWithValidation>
                        </td>
                    }
                    <td>=</td>
                    <td>
                        <InputWithValidation Model="valueInputRows[i][valueInputRows.Count]" OnChangeCallback="Validate"></InputWithValidation>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="form-row">
        <div class="form-group col-8 col-sm-9 col-lg-8">
            <label for="txtResult">Results:</label>
            @for (int i = 0; i < results.Count; i++)
            {
                <div class="form-group">
                    <label>x@(i) =</label>
                    <input id="txtResult" type="text" class="form-control" @bind="results[i]">
                </div>
            }
        </div>
        <div class="form-group col-4 col-sm-3 col-lg-4 d-flex align-items-end justify-content-end">
            <button class="btn btn-primary" @onclick="Calculate">Calculate</button>
        </div>
    </div>
</div>

@code {
    static int initialVariablesCount = 2;

    List<List<ValueErrorModel>> valueInputRows = new List<List<ValueErrorModel>>
{
        new List<ValueErrorModel>().Populate(initialVariablesCount + 1),
        new List<ValueErrorModel>().Populate(initialVariablesCount + 1)
    };

    string generalErrorMessage = string.Empty;
    bool isValidationEnabled = false;

    ValueErrorModel variablesCount = new ValueErrorModel() { Value = initialVariablesCount.ToString() };
    List<string> results = new List<string>();

    public void HandlePageKeyPress(KeyboardEventArgs eventArgs)
    {
        if (eventArgs.Key == "Enter")
            Calculate();
    }

    public void Calculate()
    {
        try
        {
            isValidationEnabled = true;

            if (!IsModelValid())
                return;

            var values = GetValues();

            var linearEquations = new Rychusoft.NumericalLibraries.LinearEquation.LinearEquation(values);
            var results = linearEquations.Compute();

            this.results = results.Select(r => r.ToString()).ToList();

            isValidationEnabled = false;
        }
        catch (Exception ex)
        {
            generalErrorMessage = ex.Message;
        }
    }

    private void ManageRowsCount()
    {
        Validate();

        if (!string.IsNullOrWhiteSpace(variablesCount.ErrorMessage))
            return;


    }

    public bool IsModelValid()
    {
        Validate();

        return valueInputRows.SelectMany(r => r).All(v => string.IsNullOrWhiteSpace(v.ErrorMessage))
            && string.IsNullOrWhiteSpace(generalErrorMessage) && string.IsNullOrWhiteSpace(variablesCount.ErrorMessage);
    }

    public void Validate()
    {
        variablesCount.ErrorMessage = string.Empty;

        if (!IsValidInt(variablesCount.Value))
            variablesCount.ErrorMessage = "Invalid value";

        if (!isValidationEnabled)
            return;

        generalErrorMessage = string.Empty;

        foreach (var row in valueInputRows)
            ValidateRow(row);
    }

    private void ValidateRow(List<ValueErrorModel> row)
    {
        foreach (var item in row)
        {
            item.ErrorMessage = string.Empty;

            if (!IsValidDouble(item.Value))
                item.ErrorMessage = "Invalid value";
        }
    }

    private bool IsValidDouble(string value)
    {
        return double.TryParse(value, out _);
    }

    private bool IsValidInt(string value)
    {
        return int.TryParse(value, out _);
    }

    private double[,] GetValues()
    {
        var values = new double[valueInputRows.Count, valueInputRows.Count + 1];

        for (int i = 0; i < valueInputRows.Count; i++)
        {
            for (int j = 0; j < valueInputRows.Count + 1; j++)
                values[i, j] = Convert.ToDouble(valueInputRows[i][j].Value);
        }

        return values;
    }
}